.navbar {
  max-height: 60px;
}

.dropdown-menu {
  top: 44px;
  display: none;
}

.dropdown-menu li {
  border-top: 1px solid rgb(241, 241, 241);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

a.active {
  color: rgb(113, 128, 150);
  background-color: #f7fafc;
}
